<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="Arelli_bhavishya.css" />
<title>Bhavishya</title>
<meta charset='UTF-8'>
</head>
<body>
<ul id="nav">
      <li class="nav1"><a class="single" href="Contact.html"><h4>Contact</h4></a></li>
      <li class="nav1"><a class="single" href="YourChoice.html"><h4>YourChoice</h4></a></li>
      <li class="nav1"><a class="single" href="Arelli_Bhavishya.html"><h4>About</h4></a></li>
    <li class="nav1"><a class="single" href="/AreliGuest"><h4>GuestBooh</h4></a></li>
		</ul>
<h2 id='back'>Background</h2>
<p class='main'>I am from Hyderabad, a beautiful city in India. I completed my bachelors program from JNTUH in the year 2016 in the field of computer science 
and engineering.</p>
<h2 class='style'>Plans</h2>
<ul id='align'>
<li>I would like to become a software developer.</li>
<li>My priority would be using programming languages like Java and .NET</li>
</ul>
<h2 class='decoration'>Interests</h2>
<table>
<tr>
<th>Sports</th>
<th>Hobbies</th>
</tr>
<tr>
<td>table tennis</td>
<td>reading books</td>
</tr>
<tr>
<td>badminton</td>
<td>listening to music</td>
</tr>
</table>
My favourite programming languages are C, JAVA,.NET and my favourite website is Facebook.
<h3>Contact me on:</h3>
<p>Call: 8464878990 (OR) Email: arellibhavishya@gmail.com</p>
</body>
</html>