<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
 <link rel="stylesheet" href="css/main.css">
<title>Contact me</title>
</head>
<body id="contactback">
<ul id="nav">
      <li class="nav1"><a class="single" href="Contact.html"><h4>Contact</h4></a></li>
      <li class="nav1"><a class="single" href="YourChoice.html"><h4>YourChoice</h4></a></li>
      <li class="nav1"><a class="single" href="Arelli_Bhavishya.html"><h4>About</h4></a></li>
    <li class="nav1"><a class="single" href="/AreliGuest"><h4>GuestBook</h4></a></li>
		</ul>

<h3> Contact Me On This</h3>
<p>Phone number: 8464878990</p>
<p>Email: arellibhavishya@gmail.com</p>
<form action="abc" method="POST">
<p>
Enter your name:<input type="text" name="name"><br></p>
<p>
Enter your mobile no:<input type="text" name="mobile"><br></p>
<p>
<textarea rows="4" cols="40" placeholder="post your questions"></textarea></p><br>
<p><input type="Submit" value="submit"></p>
</form>
<p>Few of my other sites</p>
<p><img class="facebo" src="github.jpg" alt="facebook"><a href="https://github.com/BhavishyaArelli">Github</a></p>
<p><img class="facebo" src="bitbucket.png" alt="facebook"><a href="https://bitbucket.org/BhavishyaArelli/">BitBucket</a></p>
<p><img class="faceb" src="linkedin.png" alt="facebook"> <a href="https://www.linkedin.com/in/bhavishya-arelli-61894a135?trk=nav_responsive_tab_profile_pic">LinkedIn</a></p>

</body>
</html>