<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel = "stylesheet" type="text/css" href = "/W07.css">

</head>
<body class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Order Entertainment</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              
            </div>
            <div class="form-group">
              
            </div>
            
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      
      <div class="container">
        <ul id="nav">
      <li class="nav1"><a class="single" href="Contact.html"><h4>Contact</h4></a></li>
      <li class="nav1"><a class="single" href="YourChoice.html"><h4>YourChoice</h4></a></li>
      <li class="nav1"><a class="single" href="Arelli_Bhavishya.html"><h4>About</h4></a></li>
      <li class="nav1"><a class="single" href="/AreliGuest"><h4>GuestBook</h4></a></li>
		</ul>
		 <div>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>   