<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Choose</title>
        <meta name= "description" content=" " >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        
                <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Order Entertainment</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              
            </div>
            <div class="form-group">
              
            </div>
            
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      
      <div class="container">
        <ul id="nav">
      <li class="nav1"><a class="single" href="Contact.html"><h4>Contact</h4></a></li>
      <li class="nav1"><a class="single" href="YourChoice.html"><h4>YourChoice</h4></a></li>
      <li class="nav1"><a class="single" href="Arelli_Bhavishya.html"><h4>About</h4></a></li>
      <li class="nav1"><a class="single" href="/AreliGuest"><h4>GuestBook</h4></a></li>
		</ul>
		 <div>
        <img class="img-circle" src="profile.jpg" alt="profile">
        
		<h2>Hello, everyone!</h2>
        <h4>make your favourite choice</h4>  
        </div>
   
        
		<iframe id="video" src="https://www.youtube.com/embed/_gYdwWxSXBM" allowfullscreen> </iframe> 
        
         
        
       
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
         <div class="col-md-4">
          <h2>LG</h2>
		  
          <h3>LG Electronics Inc. is a South Korean multinational electronics company. LG comprises of Home Entertainment, Mobile Communications & Air Solution.</h3>
		  
          
        </div>
        <div class="col-md-4">
          <h2>Samsung</h2>
		  
          <h3>Samsung has long been a major manufacturer of electronic components for clients such as Apple, Sony, HTC and Nokia.</h3>
		  
          
       </div>
        <div class="col-md-4">
          <h2>Sony</h2>
		  
          <h3> Sony is among the Semiconductor sales leaders by year and as of 2013, the fourth-largest television manufacturer in the world.</h3>
		  
          
        </div>
      </div>

      <hr>

      <footer>
       
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

         Google Analytics: change UA-XXXXX-X to be your site's ID. 
      <!--  <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=8
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
    </body>
</html>
